<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>v-for</title>
  <style>
    table {
      text-align: center;
      border-collapse: collapse;
    }
    th, td {
     padding: 8px; 
    }
    .add, .sub {
      border: 1px solid #ccc;
      border-radius: 3px;
      font-style: normal;
      display: inline-block;
      vertical-align: middle;
      padding: 0 6px;
      cursor: pointer;
      user-select: none;
      background-color: orange;
    }
    .unclick {
      background-color: gainsboro;
    }
  </style>
</head>
<body>
  <div id="app">
    <div v-if="totalCount === 0">您的购物车为空</div>
    <div v-else>
      <table border="1">
        <tr>
          <th>xxs</th>
          <th>书籍名称</th>
          <th>出版日期</th>
          <th>价格</th>
          <th>购买数量</th>
          <th>操作</th>
        </tr>
        <tr v-for="(item, index) in books" :key="item.bookId">
          <td>{{index + 1}}</td>
          <td>{{item.bookName}}</td>
          <td>{{item.time}}</td>
          <td>{{item.price | filterPrice}}</td>
          <td>
            <button class="sub" :class="item.count <= 1 ? 'unclick' : ''" :disables="item.count <= 1" @click="sub(index)">-</button>
            {{item.count || 0}}
            <button class="add" @click="add(index)">+</button></td>
          <td>
            <button @click="remove(index)">移除</button>
          </td>
        </tr>
      </table>
      <div>总价：{{totalPrice | filterPrice}}</div>
    </div>
  </div>
  <script src="../js/vue.js"></script>
  <script>
    const app = new Vue({
      el: '#app',
      data: {
        books: [{
          bookId: 1,
          bookName: '《算法导论》',
          time: '2006-9',
          price: 85,
          count: 1,
        },{
          bookId: 2,
          bookName: '《UNIX编程艺术》',
          time: '2006-9',
          price: 125,
          count: 1,
        },{
          bookId: 3,
          bookName: '《编程珠玑》',
          time: '2006-9',
          price: 89,
          count: 1,
        },{
          bookId: 4,
          bookName: '《代码大全》',
          time: '2006-9',
          price: 75,
          count: 1,
        }]
      },
      computed: {
        totalCount() {
          return this.books.reduce((total, cur) => { return total + cur.count; }, 0);
        },
        totalPrice() {
          return this.books.reduce((total, cur) => {
            return total + (cur.count * cur.price);
          }, 0);
        }
      },
      filters: {
        filterPrice(price) {
          return `￥${price.toFixed(2)}`;
        }
      },
      methods: {
        add(index) {
          if(this.books[index].count === 99) {
            return;
          }
          this.books[index].count++;
        },
        sub(index) {
          if (this.books[index].count <= 1) {
            return;
          }
          this.books[index].count--;
        },
        remove(index) {
          this.books.splice(index, 1)
        }
      }
    })
  </script>
</body>
</html>